.m-card .card-title, .p-card .card-title {
    font-size: 12px;
    font-weight: 600;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.p-card p.card-text span.card-text {
    color: #858796 !important;
    font-size: 13px;
}

.p-card .col-md-4 {
    display: flex;
    align-items: center;
    justify-content: center;
}
.e-card p.card-text.text-gray-900.mb-1, .offer-card p.card-text.text-gray-900.mt-3.mb-3{
    font-size: 15px;
    font-weight: 600;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
@media (max-width: 575.98px) {

    .m-card .card-title, .p-card .card-title {
        font-size: 17px;
    }
    .phone_text_size {
        font-size: 15px;
    }
    .phone-cover{
        padding-top: 1.5em;
        padding-left: 1.5em;
        padding-right: 1.5em;
    }
    .phone-cover img{
        border-radius: 0.35rem !important;
    }
}
