
.sticky-sidebar{
    position: sticky;
    top: 0;
    height: 100%;
}

.active span{
    color: white !important;
}
.slick-prev{
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 5%;
}
.slick-next{
    position: absolute;
    top: 50%;
    bottom: 50%;
    right: 5%;
}
.custom-position{
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
}

.no-comments{
    min-height: 80px;
}
.custom-fixed-position{
    position: fixed !important;
    top: 30% !important;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}
.min-width{
    min-width: 60px;
}
.vertical-align-top{
    vertical-align: top;
}

.container-fluid {
    width: 100% !important;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
    margin-right: auto;
    margin-left: auto;
}

.container,
.container-fluid {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.custom-dark {
    background-color: black;
}
.d-grid{
 display:grid;
}

.custom-first-element{
    border-bottom-right-radius: 0 !important;
    border-top-right-radius: 0 !important;
}
.custom-middle-element{
    border-radius: 0 !important;
}
.custom-last-element{
    border-bottom-right-radius: 3px !important;
    border-top-right-radius: 3px !important;
    border-bottom-left-radius: 0 !important;
    border-top-left-radius: 0 !important;
}
.position-fixed-bottom-end{
    position: fixed;
    bottom: 0;
    right:0;
}
.position-absolute-top-right{
    position: absolute;
    top: 0;
    right:0;
}

@media (max-width: 575.98px) {
.mobile-container-fluid{
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
}
}
.multi-range-slider{
    box-shadow: 0 0 0 black !important;
    border: 0 solid white !important;
}
.multi-range-slider .bar-inner{
    background-color: rgba(78, 115, 223, 0.5) !important;
}
.my-z-index{
    z-index: 99999 !important;
}
.font-size-1
{
    font-size: 1rem !important;
}
.d-grid{
    display: grid !important;
}
.start{
    align-self: start;
}
.center{
    align-self: center;
}
.end{
    align-self: end;
}
.movies_list_wrapper{
    max-height: 500px;
    overflow-Y: auto;
}
