@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?mju8rt');
  src:  url('fonts/icomoon.eot?mju8rt#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?mju8rt') format('truetype'),
    url('fonts/icomoon.woff?mju8rt') format('woff'),
    url('fonts/icomoon.svg?mju8rt#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-telegram .path1:before {
  content: "\e922";
  color: rgb(255, 255, 255);
}
.icon-telegram .path2:before {
  content: "\e923";
  margin-left: -1em;
  color: rgb(241, 243, 244);
}
.icon-telegram .path3:before {
  content: "\e924";
  margin-left: -1em;
  color: rgb(141, 156, 244);
}
.icon-telegram .path4:before {
  content: "\e925";
  margin-left: -1em;
  color: rgb(123, 205, 209);
}
.icon-instagram .path1:before {
  content: "\e926";
  color: rgb(193, 53, 132);
}
.icon-instagram .path2:before {
  content: "\e927";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-instagram .path3:before {
  content: "\e928";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-instagram .path4:before {
  content: "\e929";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-vero .path1:before {
  content: "\e92a";
  color: rgb(15, 40, 60);
}
.icon-vero .path2:before {
  content: "\e92b";
  margin-left: -1em;
  color: rgb(7, 22, 25);
}
.icon-vero .path3:before {
  content: "\e92c";
  margin-left: -1em;
  color: rgb(1, 215, 215);
}
.icon-vero .path4:before {
  content: "\e92d";
  margin-left: -1em;
  color: rgb(27, 146, 184);
}
.icon-vero .path5:before {
  content: "\e92e";
  margin-left: -1em;
  color: rgb(15, 40, 60);
}
.icon-vero .path6:before {
  content: "\e92f";
  margin-left: -1em;
  color: rgb(7, 22, 25);
}
.icon-dzen:before {
  content: "\e930";
}
.icon-bubble:before {
  content: "\e921";
}
.icon-attach_money:before {
  content: "\e920";
}
.icon-sentiment_dissatisfied:before {
  content: "\e91d";
}
.icon-sentiment_very_satisfied:before {
  content: "\e91e";
}
.icon-task_alt:before {
  content: "\e91f";
}
.icon-heart_minus:before {
  content: "\e91b";
}
.icon-troubleshoot:before {
  content: "\e91c";
}
.icon-filter_alt_off:before {
  content: "\e91a";
}
.icon-favorite:before {
  content: "\e919";
}
.icon-all_inclusive:before {
  content: "\e900";
}
.icon-arrow_right_alt:before {
  content: "\e901";
}
.icon-bookmark:before {
  content: "\e902";
}
.icon-camera_roll:before {
  content: "\e903";
}
.icon-check_circle:before {
  content: "\e904";
}
.icon-close:before {
  content: "\e905";
}
.icon-comedy_mask:before {
  content: "\e906";
}
.icon-delete:before {
  content: "\e907";
}
.icon-edit_square:before {
  content: "\e908";
}
.icon-filter_alt:before {
  content: "\e909";
}
.icon-heart_plus:before {
  content: "\e90a";
}
.icon-keyboard_arrow_down:before {
  content: "\e90b";
}
.icon-keyboard_arrow_up:before {
  content: "\e90c";
}
.icon-search:before {
  content: "\e90d";
}
.icon-share:before {
  content: "\e90e";
}
.icon-shuffle:before {
  content: "\e90f";
}
.icon-stadium:before {
  content: "\e910";
}
.icon-star:before {
  content: "\e911";
}
.icon-star_half:before {
  content: "\e912";
}
.icon-switch_left:before {
  content: "\e913";
}
.icon-switch_right:before {
  content: "\e914";
}
.icon-theater_comedy:before {
  content: "\e915";
}
.icon-theaters:before {
  content: "\e916";
}
.icon-today:before {
  content: "\e917";
}
.icon-video_library:before {
  content: "\e918";
}
