
.icon-search:before { content: '\e800'; } /* '' */
.icon-eye:before { content: '\e801'; } /* '' */
.icon-videocam:before { content: '\e802'; } /* '' */
.icon-photo:before { content: '\e803'; } /* '' */
.icon-emo-wink2:before { content: '\e813'; } /* '' */
